.navbar{
    min-height: 70px;
}

.container{
    padding-top: 10px;
    padding-bottom: 10px;
}

#navbar1{
    font-weight: bold;
}

#navbar1 > ul{
    background-color: white;
}

#navbar1 a:hover{
    background-color: gray; /* màu nền khi hover */
    color: black !important; 
}

#navbar1 a{
    color:#222
}

.navbar-default .navbar-nav > li > a {
    background-color: #f8f8f8 !important;
    color: black;
}


.navbar-nav > li > .dropdown-menu {
    transition: all 0.3s ease;
    border-radius: 8px;           /* bo góc mềm */
    padding: 5px 0;               /* khoảng cách trên dưới */
    box-shadow: 0 4px 10px rgba(0,0,0,0.15); /* đổ bóng nhẹ */
}

.navbar-nav > li.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu > li > a {
    padding: 10px 20px;          /* rộng rãi */
    transition: background 0.3s, color 0.3s, padding-left 0.3s;
}

/* Hiệu ứng hover từng item */
.dropdown-menu > li > a:hover {
    background: #222;            /* nền tối hơn (hoặc đổi theo ý bạn) */
    color: #ffd700;              /* chữ vàng ánh kim cho nổi */
    padding-left: 25px;          /* hơi trượt sang phải khi hover */
}


#carousel1 .item{
    background: #fff;
}

#slide1 .item img {
    max-width: 100%;
    height: auto; /* giữ đúng tỉ lệ ảnh */
    object-fit: cover;
}

.form-group{
    padding-left: 10px;
    padding-right: 10px;
}

#SanPham{
    background-color:beige;
}

#btn-sanpham{
    background-color: white;
    font-weight: bold;
}

.filter-btns {
    margin: 20px 0;
}
.filter-btns .btn {
    margin: 5px;
}

footer{
    background: #fff;
    font-family: 'Times New Roman', Times, serif;
}
